
body {
    background-color: lightgray;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainButtons {
    display: flex;
    flex-direction: row;
}

.column1 {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.column2 {
    display: flex;
    flex-direction: column;
}

h1, h2 {
    text-decoration: underline;
    font-weight: lighter;
}

button {
    font-size: xx-large;
    margin-bottom: 30px;
    padding: 10px;
    background-color: cadetblue;
}

.nav {
    margin-bottom: 12px;
}

.navButtons {
    display: flex;
    flex-direction: row;
}

.moveButtons {
    font-size: large;
    margin: 5px;
    
}

.audioCheck {
    margin-bottom: 10px;
}

#lengthChoice {
    margin-bottom: 10px;
}